body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  font-size: var(--font-size-main);
  background-color: var(--color-bg);
}

.container {
  box-sizing: border-box;
  max-width: 1240px;
  padding-inline: 20px;
  margin-inline: auto;
}

:is(a, button, input, textarea, summary) {
  &:focus {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset);
  }

  &:focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
