@use "scss-variables" as *;

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: min(350px, 100%);

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8em 4.5em 0.8em 1.5em;
    font-size: var(--font-size-main);
    font-family: $font-main;
    border: none;
    border-radius: 2em;

    &:focus {
      outline: var(--outline-size) var(--outline-style) var(--outline-color);
      outline-offset: var(--outline-offset);
    }

    &:focus-visible {
      outline: var(--outline-size) var(--outline-style) var(--outline-color);
      outline-offset: var(--outline-offset);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  &__reset {
    position: absolute;
    right: 3.5em;
    box-sizing: border-box;
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    background: none;
    background-image: url("../assets/svg/clear.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border: none;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in, visibility 0s linear 0.3s;

    &--active {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s ease-in, visibility 0s linear;
    }
  }

  &__submit {
    position: absolute;
    right: 1em;
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    padding: 0;
    background: none;
    background-image: url("../assets/svg/search.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border: none;
    cursor: pointer;
  }
}
