:root {
  --color-text: #1d1d1d;
  --color-bg: #ffffff;
  --color-bg-input: #f7f7f7;
  --color-placeholder: #b6b6b6;
  --gap: 1.5rem;
  --padding-block-content: 2.5rem;
  --font-size-main: 16px;
  --outline-size: 2px;
  --outline-style: solid;
  --outline-color: rgba(81 203 238 / 100%);
  --outline-offset: 2px;
  --filter-rs-logo: invert(0%);
}

body.dark {
  --color-text: #ffffff;
  --color-bg: #1d1d1d;
  --color-bg-input: #4e4e4e;
  --color-placeholder: #bbbbbb;
  --filter-rs-logo: invert(100%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: var(--font-size-main);
  background-color: var(--color-bg);
}

.container {
  box-sizing: border-box;
  max-width: 1240px;
  padding-inline: 20px;
  margin-inline: auto;
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset);
}
:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset);
}
:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

.link {
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: min(350px, 100%);
}
.search-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8em 4.5em 0.8em 1.5em;
  color: var(--color-text);
  font-size: var(--font-size-main);
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg-input);
  border: none;
  border-radius: 2em;
}
.search-form__input:focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset);
}
.search-form__input:focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset);
}
.search-form__input:focus:not(:focus-visible) {
  outline: none;
}
.search-form__input::-moz-placeholder {
  color: var(--color-placeholder);
}
.search-form__input:-ms-input-placeholder {
  color: var(--color-placeholder);
}
.search-form__input::placeholder {
  color: var(--color-placeholder);
}
.search-form__reset {
  position: absolute;
  right: 3.5em;
  box-sizing: border-box;
  width: 1.3em;
  height: 1.3em;
  padding: 0;
  background: none;
  background-image: url("../assets/svg/clear.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  border: none;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0s linear 0.3s;
}
.search-form__reset--active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in, visibility 0s linear;
}
.search-form__submit {
  position: absolute;
  right: 1em;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  padding: 0;
  background: none;
  background-image: url("../assets/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.movie-card__poster {
  width: 100%;
  aspect-ratio: 2/3;
  overflow: hidden;
  background-color: #bebebe;
  border-radius: 0.8em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.movie-card__img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-card__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 0.6em;
}
.movie-card__title {
  grid-column: 1/3;
  color: var(--color-text);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.movie-card__main-genre {
  color: var(--color-text);
  font-size: var(--font-size-main);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.movie-card__rating {
  color: var(--color-text);
  font-size: var(--font-size-main);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-align: right;
}

.header__content {
  padding-block: var(--padding-block-content);
  display: flex;
}
.header__search-form {
  margin-left: auto;
}

.main__content {
  padding-block: var(--padding-block-content);
}
.main__movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--gap);
}

.footer {
  margin-top: auto;
}
.footer__content {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-block: var(--padding-block-content);
}
.footer__copy, .footer__year {
  color: var(--color-text);
  font-size: var(--font-size-main);
  font-family: "Poppins", sans-serif;
}
.footer__rsschool {
  margin-left: auto;
}
.footer__rsschool-link {
  display: block;
  padding: 5px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.footer__rsschool-link:hover {
  transform: scale(1.05);
}
.footer__rsschool-img {
  display: block;
  filter: var(--filter-rs-logo);
}/*# sourceMappingURL=index.css.map */